extends layout

block header
    p Login

block content
    h1 Login
    .is-flex.is-flex-direction-column
        input#username(type="text", name="username", placeholder="Username")
        input#password(type="password", name="password", placeholder="Password")
        input#submit(type="button", value="Login")
    p#complainer

block scripts 
    script(src="js/utils.js" defer)
    script(src="js/login.js" defer)