extends layout

block header
    p Register

block content
    h1 Register
    .is-flex.is-flex-direction-column.is-justify-content-center
        input#username.button(type="text", name="username", placeholder="Username")
        input#password1.button(type="password", name="password", placeholder="Password")
        input#password2.button(type="password", name="password", placeholder="Rewrite Password")
        div.is-flex.my-2
            input#typeTeacher(type="radio", name="type").m-2
            h1 Teacher 
        div.is-flex.my-2
            input#typeStudent(type="radio", name="type").m-2
            h1 Student 
        p !{captcha}
        input#captcha.button(type="text", name="captcha", placeholder="Captcha")
        input#submit.button(type="button", value="Register")
    p#complainer
    script.
        const captchaId = #{captchaId}

block scripts 
    script(src="js/utils.js" defer)
    script(src="js/register.js" defer)