meta(charset="UTF-8")
title Cell Teacher
link(rel="stylesheet", type="text/css", href="css/stylesheet.css")
//- Bulma
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.css')